@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body{
    margin: 0px;
    padding: 0px;
    background-color:#5085ED;
    overflow:hidden;
}

#MenuIcon{
    height: 60px;
    width: 60px;
    position: fixed;
    top:50px;
    right: 50px;
}
#MenuIcon:hover{
    cursor: pointer;
}
#MenuLine{
    height: 7px;
    width: 53px;
    background-color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s;
}
#MenuIcon:hover #MenuLine{
    width: 43px;
}
#MenuLine::before{
    content: '';
    height: 7px;
    width: 43px;
    background-color: #fff;
    position: absolute;
    margin-top: 13px;
    transition: all .2s;
}
#MenuIcon:hover #MenuLine::before{
    width: 53px;
}
#MenuLine::after{
    content: '';
    height: 7px;
    width: 43px;
    background-color:#fff;
    position: absolute;
    margin-top: -13px;
    transition: all .2s;
}
#MenuIcon:hover #MenuLine::after{
    width: 53px;
}
    #MainMenu{
    height: 100vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-clip-path:polygon(0 0,100% 0,0% 100%,0% 100%);
    position: fixed;
    top:0;
    left: -100%;
    transition: all .5s ease-in-out;
        z-index: 100;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    color:white;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
ul li{
    margin: 5px;
    padding: 10px;
    transition: ease all .4s;
}
ul li:hover{
    cursor: pointer;
    color:#5085ED;
    transition: ease all .4s;
}

#logo{
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%);
}
#close{
    height: 60px;
    width: 60px;
    position: fixed;
    top:50px;
    right: 50px;
    transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
    }

#close img{
    padding-top:10px;
    width: 40px;
    cursor: pointer;
}

.logo-main img{
    margin-top:50px;
    max-width:700px;
}

#home a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color:white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    border: 4px solid white;
    margin-top: 100px;
    max-width: 200px;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, white 50%);
    transition: background .4s;
}

#home a:hover{
    color: #5085ED;
    background-position: -100%, -0%, -0%, -0%;

}

#about{
    background:white;
    height:700px;
}

@media only screen and (max-width: 800px) {

.logo-main img{
    display: block!important;
    width:80%!important;
    margin-top: 100px;
}
    
#MenuIcon{
    top:10px;!important;
    right:10px!important;
}
    #close{
    top:10px;!important;
    right: 10px!important;
}
    
    #home a{
        padding: 14px;
        font-size: 20px;
        max-width: 230px!important;
    }
