@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body{
    margin: 0px;
    padding: 0px;
    background-color:#5085ED;
}
#MenuIcon{
    height: 60px;
    width: 60px;
    position: fixed;
    top:50px;
    right: 50px;
}
#MenuIcon:hover{
    cursor: pointer;
}
#MenuLine{
    height: 7px;
    width: 53px;
    background-color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s;
}
#MenuIcon:hover #MenuLine{
    width: 43px;
}
#MenuLine::before{
    content: '';
    height: 7px;
    width: 43px;
    background-color: #fff;
    position: absolute;
    margin-top: 13px;
    transition: all .2s;
}
#MenuIcon:hover #MenuLine::before{
    width: 53px;
}
#MenuLine::after{
    content: '';
    height: 7px;
    width: 43px;
    background-color:#fff;
    position: absolute;
    margin-top: -13px;
    transition: all .2s;
}
#MenuIcon:hover #MenuLine::after{
    width: 53px;
}
    #MainMenu{
    height: 100vh;
    width:70%;
    background-color: #181818;
    -webkit-clip-path:polygon(0 0,100% 0,0% 100%,0% 100%);
    position: fixed;
    top:0;
    left: -70%;
    transition: all .5s ease-in-out;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    color:white;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
ul li{
    margin: 40px;
}
ul li:hover{
    cursor: pointer;
}
.line{
    height: 4px;
    width: 200px;
    background-color: white;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s;
}
ul li:hover .line{
    width: 240px;
}
#logo{
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%);
}
#close{
    width: 40px;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%);
          transition: ease 0.20s;
  -webkit-transition: ease 0.20s;
  -moz-transition: ease 0.20s;
  -ms-transition: ease 0.20s;
  -o-transition: ease 0.20s;
    }
#close:hover{
      transition: ease 0.20s;
  -webkit-transition: ease 0.20s;
  -moz-transition: ease 0.20s;
  -ms-transition: ease 0.20s;
  -o-transition: ease 0.20s;
    cursor: pointer;
    width:55px!important;
}

#close img{
    width: 100%;
}

.logo-main img{
    max-width:90%;
}


@media only screen and (max-width: 800px) {

.logo-main img{
    max-width:100%!important;
}



